# Top-level dependencies
Django==3.2.16
django-cors-headers==3.13.0
django-extensions==3.2.1
django-filter==22.1
django-rest-knox==4.2.0
djangorestframework==3.14.0
drf-rw-serializers==1.0.5
model-bakery==1.9.0
psycopg2==2.9.5
python-dateutil==2.8.2

# Secondary dependencies
asgiref==3.5.2
cffi==1.15.1
cryptography==38.0.3
pycparser==2.21
pytz==2022.6
six==1.16.0
sqlparse==0.4.3
typing_extensions==4.4.0